@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: poppins;
    background-color:#e5e6c9;
}


.image{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    border: 10px;
}

table td{
    background-color:#bbbba1;
}

table tr{
    text-align: center;
}
table tr{
    margin: 10px;
}